<!DOCTYPE html>
<html lang="en">
	<%- include('../../partials/head.ejs'); %>
	<body>
		<%- include('../../partials/nav.ejs'); %> <%-
		include('../../partials/flash.ejs'); %>

		<div
			class="container d-flex justify-content-center align-items-center"
			style="min-height: 600px"
		>
			<p class="display-4">404 page not found!</p>
		</div>

		<%- include('../../partials/footer.ejs'); %>
	</body>
</html>
